body {
    display: flex;
    justify-content: center;
}

.wrapper {
    border: 1px solid #41719c;
    display: inline-block;
    padding: 30px;
}

.input-box {
    margin-bottom: 10px;
}

.label-input {
    border: 1px solid #42729d;
    color: white;
    background-color: #5b9bd5;
    padding: 5px 15px;
    display: inline-block;
    width: 70px;
    text-align: center;
    margin-right: 10px;
}

.button-box {
    display: flex;
    justify-content: center;
}

button {
    border: 1px solid #41719c;
    border-radius: 6px;
    padding: 7px 20px;
    background-color: #70ad47;
    color: white;
    margin-top: 10px;
}

.text-field {
    height: 26px;
    border: 1px solid #41719c;
    width: 250px;
}

.select-field {
    height: 30px;
    border: 1px solid #41719c;
}

input[type='radio']:checked:after {
    width: 11px;
    height: 11px;
    border-radius: 15px;
    top: 0px;
    left: 0px;
    position: relative;
    background-color: #5b9bd5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #41719c;
}